
*.user
src/.vs/boxpp/v15/.suo
src/.vs/boxpp/v15/Browse.VC.db
src/.vs/boxpp/v15/Browse.VC.opendb
src/.vs/boxpp/v15/ipch/AutoPCH/2fff51527ae12278/SHAREDPTR.ipch
src/.vs/boxpp/v15/ipch/AutoPCH/6491848170ef1299/BOXPP-RT.ipch
src/.vs/boxpp/v15/ipch/AutoPCH/6eea689788a9a0b9/INSTRUSIVE.ipch
src/.vs/boxpp/v15/ipch/AutoPCH/7bd30ea01fbf8240/THREAD.ipch
src/.vs/boxpp/v15/ipch/AutoPCH/aaa17691eb47dbab/SHAREDBASE.ipch
src/.vs/boxpp/v15/ipch/AutoPCH/bf34c8bd9b347404/IBOXRUNTIME.ipch
src/.vs/boxpp/v15/ipch/AutoPCH/d8c79d5a50391ace/SHAREDHOLDER.ipch
src/.vs/boxpp/v15/Solution.VC.db
src/.vs/boxpp/v15/Solution.VC.db-shm
src/.vs/boxpp/v15/Solution.VC.db-wal
src/binaries/x64-Debug/test.pdb
src/binaries/x64-Debug/test.ilk
src/binaries/x64-Debug/test.exe
src/binaries/x64-Debug/test-w32.pdb
src/binaries/x64-Debug/test-w32.ilk
src/binaries/x64-Debug/test-w32.exe
src/binaries/x64-Debug/boxpp.pdb
src/binaries/x64-Debug/boxpp.lib
src/binaries/x64-Debug/boxpp.ilk
src/binaries/x64-Debug/boxpp.exp
src/binaries/x64-Debug/boxpp.dll
src/binaries/x64-Debug/boxpp-rt.pdb
src/binaries/x64-Debug/boxpp-rt.lib
src/immediates/x64-Debug/boxpp-rt/boxpp-rt.idb
src/immediates/x64-Debug/boxpp-rt/boxpp-rt.log
src/immediates/x64-Debug/boxpp-rt/boxpp-rt.pdb
src/immediates/x64-Debug/boxpp-rt/boxpp-rt.tlog/boxpp-rt.lastbuildstate
src/immediates/x64-Debug/boxpp-rt/boxpp-rt.tlog/CL.command.1.tlog
src/immediates/x64-Debug/boxpp-rt/boxpp-rt.tlog/CL.read.1.tlog
src/immediates/x64-Debug/boxpp-rt/boxpp-rt.tlog/CL.write.1.tlog
src/immediates/x64-Debug/boxpp-rt/boxpp-rt.tlog/Lib-link.read.1.tlog
src/immediates/x64-Debug/boxpp-rt/boxpp-rt.tlog/Lib-link.write.1.tlog
src/immediates/x64-Debug/boxpp-rt/boxpp-rt.tlog/Lib.command.1.tlog
src/immediates/x64-Debug/boxpp-rt/loader.obj
src/immediates/x64-Debug/boxpp-rt/main-w32.obj
src/immediates/x64-Debug/boxpp-rt/main.obj
src/immediates/x64-Debug/boxpp/Box.obj
src/immediates/x64-Debug/boxpp/boxpp-rt.obj
src/immediates/x64-Debug/boxpp/boxpp.log
src/immediates/x64-Debug/boxpp/boxpp.tlog/boxpp.lastbuildstate
src/immediates/x64-Debug/boxpp/boxpp.tlog/boxpp.write.1u.tlog
src/immediates/x64-Debug/boxpp/boxpp.tlog/CL.command.1.tlog
src/immediates/x64-Debug/boxpp/boxpp.tlog/CL.read.1.tlog
src/immediates/x64-Debug/boxpp/boxpp.tlog/CL.write.1.tlog
src/immediates/x64-Debug/boxpp/boxpp.tlog/link.command.1.tlog
src/immediates/x64-Debug/boxpp/boxpp.tlog/link.read.1.tlog
src/immediates/x64-Debug/boxpp/boxpp.tlog/link.write.1.tlog
src/immediates/x64-Debug/boxpp/BoxSuper.obj
src/immediates/x64-Debug/boxpp/IBoxRuntime.obj
src/immediates/x64-Debug/boxpp/vc141.idb
src/immediates/x64-Debug/boxpp/vc141.pdb
src/immediates/x64-Debug/test-w32/app.obj
src/immediates/x64-Debug/test-w32/test-w32.log
src/immediates/x64-Debug/test-w32/test-w32.tlog/CL.command.1.tlog
src/immediates/x64-Debug/test-w32/test-w32.tlog/CL.read.1.tlog
src/immediates/x64-Debug/test-w32/test-w32.tlog/CL.write.1.tlog
src/immediates/x64-Debug/test-w32/test-w32.tlog/link.command.1.tlog
src/immediates/x64-Debug/test-w32/test-w32.tlog/link.read.1.tlog
src/immediates/x64-Debug/test-w32/test-w32.tlog/link.write.1.tlog
src/immediates/x64-Debug/test-w32/test-w32.tlog/test-w32.lastbuildstate
src/immediates/x64-Debug/test-w32/vc141.idb
src/immediates/x64-Debug/test-w32/vc141.pdb
src/immediates/x64-Debug/test/app.obj
src/immediates/x64-Debug/test/test.log
src/immediates/x64-Debug/test/test.tlog/CL.command.1.tlog
src/immediates/x64-Debug/test/test.tlog/CL.read.1.tlog
src/immediates/x64-Debug/test/test.tlog/CL.write.1.tlog
src/immediates/x64-Debug/test/test.tlog/link.command.1.tlog
src/immediates/x64-Debug/test/test.tlog/link.read.1.tlog
src/immediates/x64-Debug/test/test.tlog/link.write.1.tlog
src/immediates/x64-Debug/test/test.tlog/test.lastbuildstate
src/immediates/x64-Debug/test/vc141.idb
src/immediates/x64-Debug/test/vc141.pdb
src/.vs/config/applicationhost.config
src/binaries/Win32-Debug/boxpp-rt.lib
src/binaries/Win32-Debug/boxpp-rt.pdb
src/binaries/Win32-Debug/boxpp.dll
src/binaries/Win32-Debug/boxpp.exp
src/binaries/Win32-Debug/boxpp.ilk
src/binaries/Win32-Debug/boxpp.lib
src/binaries/Win32-Debug/boxpp.pdb
src/binaries/Win32-Debug/test-w32.exe
src/binaries/Win32-Debug/test-w32.ilk
src/binaries/Win32-Debug/test-w32.pdb
src/binaries/Win32-Debug/test.exe
src/binaries/Win32-Debug/test.ilk
src/binaries/Win32-Debug/test.pdb
src/immediates/Win32-Debug/boxpp-rt/boxpp-rt.Build.CppClean.log
src/immediates/Win32-Debug/boxpp-rt/boxpp-rt.idb
src/immediates/Win32-Debug/boxpp-rt/boxpp-rt.log
src/immediates/Win32-Debug/boxpp-rt/boxpp-rt.pdb
src/immediates/Win32-Debug/boxpp-rt/boxpp-rt.tlog/boxpp-rt.lastbuildstate
src/immediates/Win32-Debug/boxpp-rt/boxpp-rt.tlog/CL.command.1.tlog
src/immediates/Win32-Debug/boxpp-rt/boxpp-rt.tlog/CL.read.1.tlog
src/immediates/Win32-Debug/boxpp-rt/boxpp-rt.tlog/CL.write.1.tlog
src/immediates/Win32-Debug/boxpp-rt/boxpp-rt.tlog/Lib-link.read.1.tlog
src/immediates/Win32-Debug/boxpp-rt/boxpp-rt.tlog/Lib-link.write.1.tlog
src/immediates/Win32-Debug/boxpp-rt/boxpp-rt.tlog/Lib.command.1.tlog
src/immediates/Win32-Debug/boxpp-rt/loader.obj
src/immediates/Win32-Debug/boxpp-rt/main-w32.obj
src/immediates/Win32-Debug/boxpp-rt/main.obj
src/immediates/Win32-Debug/boxpp-rt/new.obj
src/immediates/Win32-Debug/boxpp/Allocator.obj
src/immediates/Win32-Debug/boxpp/Box.obj
src/immediates/Win32-Debug/boxpp/boxpp-rt.obj
src/immediates/Win32-Debug/boxpp/boxpp.Build.CppClean.log
src/immediates/Win32-Debug/boxpp/boxpp.log
src/immediates/Win32-Debug/boxpp/boxpp.tlog/boxpp.lastbuildstate
src/immediates/Win32-Debug/boxpp/boxpp.tlog/boxpp.write.1u.tlog
src/immediates/Win32-Debug/boxpp/boxpp.tlog/CL.command.1.tlog
src/immediates/Win32-Debug/boxpp/boxpp.tlog/CL.read.1.tlog
src/immediates/Win32-Debug/boxpp/boxpp.tlog/CL.write.1.tlog
src/immediates/Win32-Debug/boxpp/boxpp.tlog/link.command.1.tlog
src/immediates/Win32-Debug/boxpp/boxpp.tlog/link.read.1.tlog
src/immediates/Win32-Debug/boxpp/boxpp.tlog/link.write.1.tlog
src/immediates/Win32-Debug/boxpp/BoxSuper.obj
src/immediates/Win32-Debug/boxpp/IBoxRuntime.obj
src/immediates/Win32-Debug/boxpp/vc141.idb
src/immediates/Win32-Debug/boxpp/vc141.pdb
src/immediates/Win32-Debug/test-w32/app.obj
src/immediates/Win32-Debug/test-w32/test-w32.Build.CppClean.log
src/immediates/Win32-Debug/test-w32/test-w32.log
src/immediates/Win32-Debug/test-w32/test-w32.tlog/CL.command.1.tlog
src/immediates/Win32-Debug/test-w32/test-w32.tlog/CL.read.1.tlog
src/immediates/Win32-Debug/test-w32/test-w32.tlog/CL.write.1.tlog
src/immediates/Win32-Debug/test-w32/test-w32.tlog/link.command.1.tlog
src/immediates/Win32-Debug/test-w32/test-w32.tlog/link.read.1.tlog
src/immediates/Win32-Debug/test-w32/test-w32.tlog/link.write.1.tlog
src/immediates/Win32-Debug/test-w32/test-w32.tlog/test-w32.lastbuildstate
src/immediates/Win32-Debug/test-w32/vc141.idb
src/immediates/Win32-Debug/test-w32/vc141.pdb
src/immediates/Win32-Debug/test/app.obj
src/immediates/Win32-Debug/test/test.Build.CppClean.log
src/immediates/Win32-Debug/test/test.log
src/immediates/Win32-Debug/test/test.tlog/CL.command.1.tlog
src/immediates/Win32-Debug/test/test.tlog/CL.read.1.tlog
src/immediates/Win32-Debug/test/test.tlog/CL.write.1.tlog
src/immediates/Win32-Debug/test/test.tlog/link.command.1.tlog
src/immediates/Win32-Debug/test/test.tlog/link.read.1.tlog
src/immediates/Win32-Debug/test/test.tlog/link.write.1.tlog
src/immediates/Win32-Debug/test/test.tlog/test.lastbuildstate
src/immediates/Win32-Debug/test/vc141.idb
src/immediates/Win32-Debug/test/vc141.pdb
src/immediates/x64-Debug/boxpp-rt/boxpp-rt.Build.CppClean.log
src/immediates/x64-Debug/boxpp/Allocator.obj
src/immediates/x64-Debug/boxpp/boxpp.Build.CppClean.log
src/immediates/x64-Debug/test-w32/test-w32.Build.CppClean.log
src/immediates/x64-Debug/test/test.Build.CppClean.log
